<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/ic_stat_ic_notification" />
   
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/colorAccent" />

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="@string/default_notification_channel_id" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Udemy_TheCompleteAndroid14_KotlinDevelopmentMasterclass"
        tools:targetApi="31">
        <activity
            android:name=".trelloclone.activities.CardDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".trelloclone.activities.MembersActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".trelloclone.activities.TaskListActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".trelloclone.activities.CreateBoardActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".trelloclone.activities.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".trelloclone.activities.BaseActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".trelloclone.activities.SignInActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".trelloclone.activities.SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".trelloclone.activities.IntroActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".trelloclone.activities.SplashScreenActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".trelloclone.activities.MainTrelloActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.Udemy_TheCompleteAndroid14_KotlinDevelopmentMasterclass" />
        <activity
            android:name=".ageinminutescalculator.MainAgeCalculatorActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".calculatorapp.MainCalculatorActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".weatherapp.MainWeatherAppActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".weatherapp.DemoActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".roomdemo.MainRoomDemoActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".workoutapp.WorkoutHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".workoutapp.BMIActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".workoutapp.FinishActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".workoutapp.ExerciseActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".workoutapp.Main7MinuteWorkoutActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".drawingapp.MainDrawingActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".quizapp.ResultActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".quizapp.QuizQuestionsActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".quizapp.MainQuizActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".musicapp.MainMusicApp"
            android:exported="false"
            android:label="@string/title_activity_main_music_app"
            android:theme="@style/Theme.Udemy_TheCompleteAndroid14_KotlinDevelopmentMasterclass" />
        <activity
            android:name=".wishlistapp.MainWishListApp"
            android:exported="false"
            android:label="@string/title_activity_main_wish_list_app"
            android:theme="@style/Theme.Udemy_TheCompleteAndroid14_KotlinDevelopmentMasterclass" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="" />

        <activity
            android:name=".locationapp.MainLocationApp"
            android:exported="false"
            android:label="@string/title_activity_main_location_app"
            android:theme="@style/Theme.Udemy_TheCompleteAndroid14_KotlinDevelopmentMasterclass" />
        <activity
            android:name=".navigation.NavigationApp"
            android:exported="false"
            android:label="@string/title_activity_navigation_app"
            android:theme="@style/Theme.Udemy_TheCompleteAndroid14_KotlinDevelopmentMasterclass" />
        <activity
            android:name=".recipeapp.MainRecipeApp"
            android:exported="false"
            android:label="@string/title_activity_recipe_app"
            android:theme="@style/Theme.Udemy_TheCompleteAndroid14_KotlinDevelopmentMasterclass" />
        <activity
            android:name=".mvvmarchitecture.MVVMCounterApp"
            android:exported="false"
            android:label="@string/title_activity_mvvmcounter_app"
            android:theme="@style/Theme.Udemy_TheCompleteAndroid14_KotlinDevelopmentMasterclass" />
        <activity
            android:name=".shoppinglistapp.ShoppingListApp"
            android:exported="false"
            android:label="@string/title_activity_shopping_list_app"
            android:theme="@style/Theme.Udemy_TheCompleteAndroid14_KotlinDevelopmentMasterclass" />
        <activity
            android:name=".unitconverterapp.UnitConverterApp"
            android:exported="false"
            android:label="@string/title_activity_unit_converter_app"
            android:theme="@style/Theme.Udemy_TheCompleteAndroid14_KotlinDevelopmentMasterclass" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Udemy_TheCompleteAndroid14_KotlinDevelopmentMasterclass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.udemy_thecompleteandroid14_kotlindevelopmentmasterclass.drawingapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path" />
        </provider>
        
        <service
            android:name=".trelloclone.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        
    </application>

</manifest>